#book
jupyter-book
nbconvert

# General tools
sympy
scipy 
pyaml

# Pyvista
panel

# Jupyter-book
jupyter-book

# Meshio
meshio
--no-binary=h5py
#--no-cache-dir
h5py

# Visualization with pandas
seaborn
pandas

# Progress bar
tqdm