#book
jupyter-book
nbconvert

# General tools
sympy
scipy 
pyaml

# Pyvista
panel
trame 

# Jupyter-book
jupyter-book

# Meshio and gmsh
meshio
gmsh


# Visualization with pandas
seaborn
pandas

# Progress bar
tqdm

