name: Build Jupyter Book

on:
  push:
    branches: ["main"]
  workflow_call:

env:
  HDF5_MPI: "ON"
  HDF5_DIR: "/usr/local/"
  DISPLAY: ":99.0"
  DEB_PYTHON_INSTALL_LAYOUT: deb_system
  LIBGL_ALWAYS_SOFTWARE: 1
  PYVISTA_TRAME_SERVER_PROXY_PREFIX: '/proxy/'
  PYVISTA_TRAME_SERVER_PROXY_ENABLED: "True"
  PYVISTA_OFF_SCREEN: false
  PYVISTA_JUPYTER_BACKEND: "html"

jobs:
  build-book:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install common packages
        uses: ./.github/actions/install-dependencies
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docker/requirements.txt
          pip install jupyter-book==0.12
          
      #- name: Install book deps
      #  run: |
      #    # python3 -m pip install -U pip setuptools pkgconfig poetry-core
      #    # python3 -m pip install --no-binary=h5py .[netgen]
     
      - name: Build Jupyter Book
        run: jupyter-book build .


      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: webpage
          path: ./_build/html
          retention-days: 2
          if-no-files-found: error
