name: Check that all python files run

# Controls when the action will run.
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["main"]
env:
  # Directory that will be published on github pages
  HDF5_MPI: "ON"
  HDF5_DIR: "/usr/local/"
  DISPLAY: ":99.0"
  DEB_PYTHON_INSTALL_LAYOUT: deb_system

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: ghcr.io/fenics/dolfinx/lab:v0.8.0
    env:
      PYVISTA_OFF_SCREEN: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-dependencies

      - name: Install additional deps
        run: |
          python3 -m pip install -r docker/requirements.txt

      - name: Test notebooks 
        run: |
          cd notebooks
          # pytest  --nbmake 
